<!DOCTYPE html>
<html>
  <head>
    <title>FitsApp Test Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <!-- HEADER NAVBAR -->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "FitsApp Test", '#', id: "logo" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <% if logged_in? %>
              <li><%= link_to "Messages", messages_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", user_path(current_user) %></li>
                  <li><%= link_to "Edit User", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <!-- HEADER NAVBAR -->

    <!-- MAIN CONTENT -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- MAIN CONTENT -->

    <!-- FOOTER -->
    <footer class="footer">
      <small class="left">
        The FitsApp Test Application by Rodolfo Marques.
      </small>
      <small class="right">
        <a href="https://github.com/rodolfoamarques/ruby_test_fitsapp">Project on GitHub</a>
      </small>
    </footer>
    <!-- FOOTER -->

  </body>
</html>
